<h3>Login</h3>
<form [formGroup]="form" autocomplete="off">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Email"
      formControlName="email"
    />
  </div>
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      placeholder="Password"
      formControlName="password"
    />
  </div>
  <div class="form-group">
    <button [disabled]="form.invalid" (click)="login()">Sign in</button>
  </div>
  <div class="row mb-4 px-3">
    <small
      ><a class="reset-anchor" routerLink="/home"
        >Continue to the store without registering
      </a></small
    >
  </div>
</form>
