<footer class="bg-dark text-white">
  <div class="container py-4">
    <div class="border-top pt-4" style="border-color: #1d1d1d !important">
      <div class="row">
        <div class="col-lg-6">
          <p class="small text-muted mb-0">Tül Project Test</p>
        </div>
        <div class="col-lg-6 text-lg-right">
          <p class="small text-muted mb-0">
            Template designed by
            <a
              class="text-white reset-anchor"
              href="https://bootstraptemple.com/p/bootstrap-ecommerce"
              >Bootstrap Temple</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
