<header class="header">
  <div class="container px-0 px-lg-3">
    <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0">
      <a class="navbar-brand"
        ><span class="font-weight-bold text-uppercase text-dark"
          >Tül Project</span
        ></a
      >
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Categories</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="cart.html">
              <i class="fas fa-dolly-flatbed mr-1 text-gray"> </i>Cart
              <small class="text-gray">(2)</small>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-sign-out-alt mr-1 text-gray"></i>Logout</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
