<section class="py-5">
  <header class="text-center">
    <p class="small text-muted small text-uppercase mb-1">Category list</p>
    <h2 class="h5 text-uppercase mb-4">Create, update and delete categories</h2>
  </header>
  <div class="row mt-5">
    <div
      class="table-header d-flex justify-content-md-start justify-content-sm-center"
    >
      <button class="btn btn-primary" (click)="openCreate()">Create</button>
    </div>
    <table class="table table-hover table-bordered pl-2 pr-2">
      <thead>
        <tr>
          <th width="1.2rem">#</th>
          <th>Name</th>
          <th>Image</th>
          <th width="3rem">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pageOfItems; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.name }}</td>
          <td>
            <img [src]="item.image.url" height="50" />
          </td>
          <td class="d-flex align-items-center justify-content-center h-100">
            <div class="d-flex">
              <a class="reset-anchor mr-2" (click)="delete(item)">
                <i class="fas fa-trash-alt"></i>
              </a>
              <a class="reset-anchor" (click)="openEdit(item)">
                <i class="fas fa-edit"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr *ngIf="pageOfItems.length === 0">
          <td colspan="4">
            <div
              class="alert alert-category text-center ml-3 mr-3 mt-3"
              role="alert"
            >
              No results found
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="w-100">
      <app-pagination
        [items]="items"
        (changePage)="onChangePage($event)"
      ></app-pagination>
    </div>
  </div>
</section>
